{{! templates/actor-v2.hbs - Compact redesigned layout }}
<div class="sheet-layout">
    <div class="sheet-main">
        <div class="sheet-container">
            {{! Character Header - always visible }}
            <header class="character-header">
                <div class="portrait-section">
                    <img src="{{actor.img}}" data-edit="img" class="character-portrait" title="Character Portrait"/>
                </div>
                
                <div class="character-info">
                    <input type="text" name="name" value="{{actor.name}}" placeholder="Character Name" class="character-name"/>
                    
                    <div class="info-row">
                        <div class="info-item">
                            <label>Race</label>
                            <input type="text" name="system.race" value="{{system.race}}" placeholder="Race"/>
                        </div>
                        <div class="info-item">
                            <label>Archetype</label>
                            <input type="text" name="system.archetype" value="{{system.archetype}}" placeholder="Archetype"/>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-item">
                            <label>Advancement</label>
                            <div class="counter-controls">
                                <button type="button" data-action="updateAdvancement" data-change="decrease" class="counter-button">-</button>
                                <input type="number" name="system.advancement" value="{{system.advancement}}" min="0" class="counter-value"/>
                                <button type="button" data-action="updateAdvancement" data-change="increase" class="counter-button">+</button>
                            </div>
                        </div>
                        <div class="info-item">
                            <label>XP</label>
                            <div class="counter-controls">
                                <button type="button" data-action="updateXP" data-change="decrease" class="counter-button">-</button>
                                <input type="number" name="system.xp" value="{{system.xp}}" min="0" class="counter-value"/>
                                <button type="button" data-action="updateXP" data-change="increase" class="counter-button">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info-item">
                            <label>Vigour</label>
                            <div class="split-input">
                                <input type="number" name="system.vigour.current" value="{{system.vigour.current}}" class="split-left"/>
                                <span>/</span>
                                <input type="number" name="system.vigour.max" value="{{system.vigour.max}}" class="split-right"/>
                            </div>
                        </div>
                        <div class="info-item">
                            <label>Grip</label>
                            <input type="number" name="system.grip.base" value="{{system.grip.base}}" class="single-input"/>
                        </div>
                    </div>
                </div>
            </header>

            {{! Tab content }}
            <section class="sheet-body">
                {{! Character Tab }}
                <div class="tab {{#if (eq activeTab 'character')}}active{{/if}}" data-tab="character">
                    {{! Main Stats Row }}
                    <div class="main-stats-row">
                        <div class="stat-item">
                            <label>Brawn</label>
                            <input type="number" name="system.brawn.base" value="{{system.brawn.base}}"/>
                        </div>
                        <div class="stat-item">
                            <label>Wit</label>
                            <input type="number" name="system.wit.base" value="{{system.wit.base}}"/>
                        </div>
                        <div class="stat-item">
                            <label>Will</label>
                            <input type="number" name="system.will.base" value="{{system.will.base}}"/>
                        </div>
                        <div class="stat-item">
                            <label>Affluence</label>
                            <input type="number" name="system.affluence.base" value="{{system.affluence.base}}"/>
                        </div>
                        <div class="stat-item">
                            <label>Observation</label>
                            <input type="number" name="system.observation.base" value="{{system.observation.base}}"/>
                        </div>
                        <div class="stat-item">
                            <label>Armor</label>
                            <div class="armor-display">
                                <span class="armor-base">{{system.armor.base}}</span>
                                <span class="plus">+</span>
                                <span class="armor-bonus">{{system.armorBonus}}</span>
                                <span class="equals">=</span>
                                <span class="armor-total">{{system.armorTotal}}</span>
                            </div>
                        </div>
                    </div>

                    {{! Advancements List }}
                    <div class="list-section">
                        <h3>Advancements</h3>
                        <div class="items-list">
                            {{#each items.advancement as |item|}}
                            <div class="list-item" data-item-id="{{item._id}}">
                                <div class="item-name" data-action="openItem">{{item.name}}</div>
                                <div class="item-description">{{item.system.description}}</div>
                                <div class="item-controls">
                                    <button type="button" data-action="rollAdvancement" data-advancement-id="{{item._id}}" class="roll-button" title="Roll">
                                        <i class="fas fa-dice-d20"></i>
                                    </button>
                                    <a data-action="openItem" class="control-button" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-action="deleteItem" class="control-button delete" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    {{! Consequences List }}
                    <div class="list-section">
                        <h3>Consequences</h3>
                        <div class="items-list">
                            {{#each items.consequence as |item|}}
                            <div class="list-item" data-item-id="{{item._id}}">
                                <div class="item-name" data-action="openItem">{{item.name}}</div>
                                <div class="item-description">{{item.system.description}}</div>
                                <div class="item-controls">
                                    <button type="button" data-action="rollConsequence" data-consequence-id="{{item._id}}" class="roll-button" title="Roll">
                                        <i class="fas fa-dice-d20"></i>
                                    </button>
                                    <a data-action="openItem" class="control-button" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-action="deleteItem" class="control-button delete" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                {{! Equipment Tab }}
                <div class="tab {{#if (eq activeTab 'equipment')}}active{{/if}}" data-tab="equipment">
                    {{! Weapons Table }}
                    <div class="table-section">
                        <h3>Weapons</h3>
                        <div class="weapons-table">
                            <div class="table-header">
                                <div class="col-equip"></div>
                                <div class="col-icon"></div>
                                <div class="col-name">Name</div>
                                <div class="col-type">Type</div>
                                <div class="col-range">Range</div>
                                <div class="col-stat">Attack Stat</div>
                                <div class="col-damage">Damage Mod</div>
                                <div class="col-initiative">Initiative</div>
                                <div class="col-actions">Attack</div>
                                <div class="col-delete"></div>
                            </div>
                            {{#each items.weapon as |item|}}
                            <div class="table-row" data-item-id="{{item._id}}">
                                <div class="col-equip">
                                    <input type="checkbox" data-action="toggleEquip" data-item-id="{{item._id}}" {{checked item.system.equipped}} title="Equipped"/>
                                </div>
                                <div class="col-icon">
                                    <img src="{{item.img}}" class="item-icon"/>
                                </div>
                                <div class="col-name">
                                    <span class="item-name" data-action="openItem">{{item.name}}</span>
                                </div>
                                <div class="col-type">{{getWeaponProperty item.system.weaponType "label"}}</div>
                                <div class="col-range">{{getWeaponProperty item.system.weaponType "range"}}</div>
                                <div class="col-stat">{{getWeaponProperty item.system.weaponType "attackStat"}}</div>
                                <div class="col-damage">{{getWeaponDamage item.system.weaponType item.system.isTwoHanded item.system.inMelee}}</div>
                                <div class="col-initiative">
                                    {{#if (getWeaponProperty item.system.weaponType "initiative")}}
                                        {{getWeaponProperty item.system.weaponType "initiative"}}
                                    {{else}}
                                        0
                                    {{/if}}
                                </div>
                                <div class="col-actions">
                                    <button type="button" data-action="rollWeaponKh2" data-weapon-id="{{item._id}}" class="roll-button-mini" title="Upper Hand">
                                        <i class="fas fa-arrow-up"></i>
                                    </button>
                                    <button type="button" data-action="rollWeapon" data-weapon-id="{{item._id}}" class="roll-button-mini" title="Standard">
                                        <i class="fas fa-sword"></i>
                                    </button>
                                    <button type="button" data-action="rollWeaponKl2" data-weapon-id="{{item._id}}" class="roll-button-mini" title="Against the Odds">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                                    <div class="col-delete"> 
                                        <a data-action="deleteItem" class="control-button delete" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    {{! Armor & Shields Table }}
                    <div class="table-section">
                        <h3>Armor & Shields</h3>
                        <div class="armor-table">
                            <div class="table-header">
                                <div class="col-equip">E</div>
                                <div class="col-icon"></div>
                                <div class="col-name">Name</div>
                                <div class="col-type">Type</div>
                                <div class="col-armor">Armor</div>
                                <div class="col-actions">Actions</div>
                            </div>
                            {{#each items.armor as |item|}}
                            <div class="table-row" data-item-id="{{item._id}}">
                                <div class="col-equip">
                                    <input type="checkbox" data-action="toggleEquip" data-item-id="{{item._id}}" {{checked item.system.equipped}} title="Equipped"/>
                                </div>
                                <div class="col-icon">
                                    <img src="{{item.img}}" class="item-icon"/>
                                </div>
                                <div class="col-name">
                                    <span class="item-name" data-action="openItem">{{item.name}}</span>
                                </div>
                                <div class="col-type">
                                    {{#if (eq item.system.armorType "basic")}}Basic{{/if}}
                                    {{#if (eq item.system.armorType "plate")}}Plate{{/if}}
                                    {{#if (eq item.system.armorType "shield")}}Shield{{/if}}
                                </div>
                                <div class="col-armor">
                                    {{#if (eq item.system.armorType "basic")}}+1{{/if}}
                                    {{#if (eq item.system.armorType "plate")}}+2{{/if}}
                                    {{#if (eq item.system.armorType "shield")}}+1{{/if}}
                                </div>
                                <div class="col-actions">
                                    <a data-action="deleteItem" class="control-button delete" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    {{! Loot List }}
                    <div class="list-section">
                        <h3>Loot</h3>
                        <div class="items-list">
                            {{#each items.loot as |item|}}
                            <div class="list-item" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" class="item-icon"/>
                                <div class="item-info">
                                    <div class="item-name" data-action="openItem">{{item.name}}</div>
                                    <div class="item-properties">{{getLootType item.system.lootType}} - {{item.system.value}} gp</div>
                                </div>
                                <div class="item-controls">
                                    <a data-action="openItem" class="control-button" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a data-action="deleteItem" class="control-button delete" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>